body {
    font-family: "Montserrat", sans-serif;
    background-color: #e5e5e5;
    padding: 40px;
}

.Wrapper {
    display: flex;
    flex-direction: row-reverse;
    /*row- горизонтально
    column-вертикально*/
    background: #fff;
    width: 1200px;
    margin: 0 auto;
    /*центрування*/
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/*About me*/

.my-profeshion {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 17px;
    margin: 0 0 18px 0;
}

.my-name {
    color: #000;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: 55px;
    margin: 0 0 28px 0;
}

.my-descr {
    color: #595959;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    width: 525px;
}

.about-me {
    margin-bottom: 64px;
}

.Main-content-title {
    color: #000;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
    margin: 0 0 8px 0;
}

/* Main content */
.Main-content {
    /*
    padding-top: 88px;
    padding-bottom: 88px;
    padding-left: 88px;
    padding-right: 88px;
*/
    padding: 88px;
}

.project-container {
    margin-bottom: 48px;
}

.project-item {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.project-list {
    padding: 0 0 0 16px;
    margin: 0;
}

.project-item-descr {
    color: #595959;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.project-item-link {
    color: #005fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-decoration-line: underline;
}

.work-experience-container {
    margin-bottom: 44px;
}

.work-experience-position {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    margin: 0;
}

.work-experience-place {
    margin-bottom: 16px;
}

.work-experience-company {
    color: #6d9bf5;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
}

.work-period {
    color: #A8A8A8;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    margin: 12px 0 8px 0;
}

.work-period-line {
    color: #000;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    margin: 12px 0 8px 0;
}

.work-duties {
    color: #595959;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 171.429% */
}
.work-duties-list{
    padding: 0 0 0 16px;
    margin: 0;
}
.national-university-of-management{
    color: #6d9bf5;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    margin: 12px 0 12px 0;
}
.management{
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

.sidebar {
    width: 370px;
    background: #e0ebfe;
}

.photo {
    margin-top: 40px;
}

.contacts-container,
.Tech-Skills-container,
.Soft-Skills-container {
    margin: 48px 0px 0px 40px;
}

.sidebar-title {
    font-style: normal;
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
    color: #161d2a;
    margin-bottom: 8px;
}

.Contacts-type {
    font-style: normal;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    color: #161d2a;
    margin-right: 8px;
}

.Contacts-item {
    margin: 0;
}

.Contacts-number,
.Skills-list-text {
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #161d2a;
}

.Contacts-emeil {
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #2979ff;
}

.Skills-list {
    margin: 0;
    padding: 0 0 0 16px;
}

.Skills-list-item {
    color: #6d9bf5;
}